
.DS_Store

lesson-5/lesson-5.xcodeproj/project.xcworkspace/contents.xcworkspacedata

lesson-5/lesson-5.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

lesson-5/lesson-5.xcodeproj/project.xcworkspace/xcuserdata/sd.xcuserdatad/UserInterfaceState.xcuserstate

lesson-5/lesson-5.xcodeproj/xcuserdata/sd.xcuserdatad/xcschemes/xcschememanagement.plist

lesson-7/lesson-7.xcodeproj/project.xcworkspace/contents.xcworkspacedata

lesson-7/lesson-7.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

lesson-7/lesson-7.xcodeproj/project.xcworkspace/xcuserdata/sd.xcuserdatad/UserInterfaceState.xcuserstate

lesson-7/lesson-7.xcodeproj/xcuserdata/sd.xcuserdatad/xcschemes/xcschememanagement.plist
