
.DS_Store

lesson-3/lesson-3.xcodeproj/project.xcworkspace/contents.xcworkspacedata

lesson-3/lesson-3.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

lesson-3/lesson-3.xcodeproj/project.xcworkspace/xcuserdata/sd.xcuserdatad/UserInterfaceState.xcuserstate

lesson-3/lesson-3.xcodeproj/xcuserdata/sd.xcuserdatad/xcschemes/xcschememanagement.plist

lesson-3/lesson-3.xcodeproj/project.pbxproj

lesson-4/lesson-4.xcodeproj/project.xcworkspace/contents.xcworkspacedata

lesson-4/lesson-4.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

lesson-4/lesson-4.xcodeproj/xcuserdata/sd.xcuserdatad/xcschemes/xcschememanagement.plist

lesson-4/lesson-4.xcodeproj/project.xcworkspace/xcuserdata/sd.xcuserdatad/UserInterfaceState.xcuserstate
