
.DS_Store

lesson-6/lesson-6.xcodeproj/project.xcworkspace/contents.xcworkspacedata

lesson-6/lesson-6.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

lesson-6/lesson-6.xcodeproj/project.xcworkspace/xcuserdata/sd.xcuserdatad/UserInterfaceState.xcuserstate

lesson-6/lesson-6.xcodeproj/xcuserdata/sd.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

lesson-6/lesson-6.xcodeproj/xcuserdata/sd.xcuserdatad/xcschemes/xcschememanagement.plist

README.md
